/* Basic reset */
.banner img {width: 100%; height: auto;}


.navbar {
  background-color: white;
  padding: 12px;
}

.navbar a {
  color: rgb(41, 0, 128);
  text-decoration: underline;
  margin-right: 15px;
  font-weight: normal;
  font-size: 18px;
}


.navbar a.active {
  color: red;
  text-decoration: underline;
}

.title h1 {
  text-align: center;
  color: #333;
  margin-top: 22px;
  margin-bottom: 22px;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
}

#map {
  height: 700px;
  background-color: #e0e0e0; /* temporary so you can see it */
}